.card {
	border: 1px solid black;
	text-align: center;
	width: calc(33% - 4rem);
	margin: 1rem;
	padding: 1rem;
}
.cardComp {
	display: flex;
	flex-wrap: wrap;
}

.form {
	width: 30%;
	margin: 3rem auto;
	text-align: center;
}

.form input,
textarea {
	width: 100%;
	margin: 0.3rem;
	padding: 0.8rem 0.8rem 0.8rem 2rem;
	border: 1px solid black;
}

.form button {
	padding: 0.6rem 2rem;
	background-color: rgb(25, 168, 125);
	border: 0;
	border-radius: 0.6rem;
	margin-top: 1rem;
	font-weight: bold;
}

.form button:hover {
	background-color: rgb(0, 124, 87);
	cursor: pointer;
	border: 1px solid black;
}

.form input:hover {
	border: 2px solid black;
}

.login-form {
	text-align: center;
	margin-top: 5rem;
	margin-bottom: 1rem;
	font-family: helvetica;
}

.notification {
	color: black;
	text-align: center;
	background-color: rgba(99, 183, 252, 0.507);
	padding: 10px;
}
.singout {
	justify-content: flex-end;
	display: flex;
}

.singout button {
	padding: 0.4rem 1.8rem;
	background-color: rgb(25, 168, 125);
	border: 0;
	border-radius: 0.6rem;
	font-weight: bold;
}

.singout button:hover {
	background-color: rgb(0, 172, 120);
	cursor: pointer;
	border: 1px solid black;
}

.link {
	text-decoration: none;
	color: black;
	padding-right: 1rem;
}

.link:hover {
	color: rgb(0, 124, 62);
}

.nav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 1.5rem auto;
	padding-right: 1rem;
}

.page-width {
	width: 90%;
	margin: 0 auto;
}

.container {
	padding: 2rem;
	display: flex;
	width: 65%;
	margin: 0 auto;
	justify-content: space-between;
	background-color: rgb(224, 224, 213);
	min-height: 20rem;
}

.single-card {
	text-align: center;
	padding: 2rem;
	margin: 1rem;
	background-color: white;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px rgb(192, 188, 188);
}

.edit-form {
	display: flex;
	width: 50%;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
.edit-form input {
	width: 90%;
	padding-bottom: 0.6rem;
	padding-left: 0.8rem;
	padding-top: 0.6rem;
	margin: 0.4rem auto;
}

.edit-form button {
	padding: 0.4rem 1.8rem;
	background-color: rgb(25, 168, 125);
	border: 0;
	border-radius: 0.6rem;
	font-weight: bold;
	margin-top: 1rem;
}
.edit-form button:hover {
	background-color: rgb(0, 172, 120);
	cursor: pointer;
	border: 1px solid black;
}

.edit-form h1 {
	font-family: helvetica;
}
